<!DOCTYPE html>
<html>
<head>
 <title>Pragprog Books Online Store</title>
<%= stylesheet_link_tag "application", media: "all",
"data-turbolinks-track" => 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag 'logo.png' %> 
 <%= @page_title || "PETShop" %>
 </div>
 <div id="columns">
 <div id="side">
 
  <div id="cart">
    <% if @cart %>
     <%= render @cart %>
     <% end %>
     <%= render_if @cart && @cart.line_items.any?, @cart %>
 </div>

 <ul>
 <li><a href="http://www....">Домівка</a></li>
 <li><a href="http://www..../faq">Питання</a></li>
 <li><a href="http://www..../news">Новини</a></li>
 <li><a href="http://www..../contact">Зв'язатись з нами </a></li>
 </ul>
 </div>
 <div id="main">
<%= yield %>
 </div>
 </div>
</body>
</html>